{% extends "base_generic.html" %}

{% block content %}
<h3 class="my-3">Search Cars</h3>
<form method="post">
   {% csrf_token %}
    <input type="text" name="query" placeholder="Search cars...">
   <input type="submit" value="Search">
</form> <br><br>
<div class="flex row">
    {% if not results %}
        <p>No results found.</p>
    {% endif %}
    {% for car in results %}
        <div class="col-3 border rounded ">
            <img src="{{ car.image.url }}" class="w-100">
            <h4>{{car}}</h4>
            <a href="{{ car.get_absolute_url }}">See details</a>
        </div>
    {% endfor %}
</div>
{% endblock %}