{% extends "base_generic.html" %}

{% block content %}

  <h2 class="mt-3">Login Page</h2>

  <br>

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="border-0 mb-3">
      <tr>
        <td class="border-0">{{ form.username.label_tag }}</td>
        <td class="border-0">{{ form.username }}</td>
      </tr>
      <tr>
        <td class="border-0">{{ form.password.label_tag }}</td>
        <td class="border-0">{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

{% endblock %}